doctype html
html
    head
        meta(charset="utf-8")
        title Страница книги
        link(rel='stylesheet', href='/src/style/book.css')
        link(rel="stylesheet", href='/src/font-awesome/css/font-awesome.min.css')
        link(rel="stylesheet", href='/src/style/w3.css')
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    body
        div
            form.return(method="get", action=`/books/`)
                button(type="submit", class="w3-button w3-square")
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>

        div.book_info(class="w3-container w3-third w3-display-topmiddle") 
            div
                p 
                    =`Название: ${book.title}`
                p 
                    =`Автор: ${book.author}`
                p 
                    =`Год издания: ${book.date_release}`

                div.book_status
                    if book.is_taken == false
                        div 
                            =`Книга в библиотеке`

                        div.buttons
                            button(type="submit", class="w3-button w3-square", onclick="take_action('take')")
                                <i class="fa fa-hand-lizard-o" aria-hidden="true"></i>

                            form(method="get", action=`/books/${book.id}/edit`)
                                button(type="submit", class="w3-button w3-square")
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>

                    else
                        div 
                            =`Книга забронирована на имя ${book.who_taken} до ${book.date_return}`

                        div.buttons
                            button(type="submit", class="w3-button w3-square" onclick="take_action('return')")
                                <i class="fa fa-undo" aria-hidden="true"></i>

                            form(method="get", action=`/books/${book.id}/edit`)
                                button(type="submit", class="w3-button w3-square")
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>


        if book.is_taken == false
            dialog#dialog(open)
                div.dialog_content(class="w3-container w3-padding-small")
                    p
                        ="Оформление книги"
                        
                    input(type="text", class="w3-input w3-border", id="who_taken", value="name")

                    input(type="date", class="w3-input w3-border", id="date_return", value="2023-01-17")

                    div
                        button(type="submit", class="w3-button w3-hover-green" onclick="processing_take('take')")
                            ="Оформить"

                        button(type="submit", class="w3-button w3-hover-red" onclick="processing_take('undo')")
                            ="Отменить"

    script(src="/src/scripts/take.js")                    